*{
    padding: 0;
    margin: 0;
    font-family: ubuntu;
}


div{
text-align: center;
background-color: #e3295a;
padding-top: 30px;
padding-bottom: 30px;
margin-left: 20px;
margin-right: 20px;
margin-top: 20px;
}